// External imports
@import './node_modules/bourbon/core/bourbon';

// Global variables
@import 'scss/helpers/global-variables';

// Base
@import 'scss/base/base';
@import 'scss/base/typography';

// Components
@import 'scss/components/buttons';
@import 'scss/components/links';

// TODO: remove me i am placeholder
section {
  padding: 20px;
  max-width: 600px;

  button {
    margin: 0 1em;
  }
}
